@import url("css/font-awesome.css");
* {
	padding: 0;
	margin: 0;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.top-bar {
	width:100%;
	height: 40px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#999a9a+1,6d898c+16,458cc0+51,8bb8dd+79,ffffff+100 */
background: #999a9a; /* Old browsers */
background: -moz-linear-gradient(top, #999a9a 1%, #6d898c 16%, #458cc0 51%, #8bb8dd 79%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #999a9a 1%,#6d898c 16%,#458cc0 51%,#8bb8dd 79%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #999a9a 1%,#6d898c 16%,#458cc0 51%,#8bb8dd 79%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999a9a', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	text-align: center;
}
.top-bar-phone {
	display: inline-block;
	width:10%;
	height: 40px;
	border-right: solid 1px #bbc1c1;
	line-height: 40px;
	}
.top-bar-mail {
	display: inline-block;
	width:12%;
	height: 40px;
	border-right: solid 1px #bbc1c1;
	line-height: 40px;
	}
.top-bar-time {
	display: inline-block;
	width:20%;
	line-height: 40px;
	height: 40px;
	}
.top-bar-social {
	display: inline-block;
	line-height: 40px;
	width:10%;
	height: 40px;
	border-right: solid 1px #bbc1c1;
	}
.top-bar-skype {
	display: inline-block;
	line-height: 40px;
	width:12%;
	height: 40px;
	border-right: solid 1px #bbc1c1;
}
.top-bar-skype i{
	display: inline-block;
	color:#fff;
}
.top-bar p {
	display: inline-block;
	font-family: "open-sans";
	font-size: 14px;
	color: #fff;
}
.top-bar a {
	display:inline-block;
	border-radius: 3px;
	text-decoration: none;
	width:30px;
	height:30px;
	vertical-align: middle;
	transition: all 0.5s ease;
}
.vk:hover {
	background:#637D9F;
}
.linkedin:hover {
	background: #5D7786;
}
.top-bar-social i{
	display:inline-block;
	float:left;
	margin-top: 6px;
	margin-left: 6px;
	color:#fff;
}
.languge {
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	float:right;
	margin-right:30px;
}
.languge span{
	display: inline-block;
	width:25px;
	height:25px;
	border-radius: 50%;
	margin-top: 8px;
}
.languge span:hover {
	background: #C2C2C2;
	transition: all 0.5s ease;
}
.languge span:focus {
	background: #00ACD0;
	transition: all 0.2s ease;
}
.languge a {
	text-decoration: none;
	color:#fff;
	line-height: 28px;
	margin-left: -3px;
}
.nav-logo {
	width:90%;
	max-height: 1280px;
	background: #fff;
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
}
.rotation-container {
	display:inline-block;
	float:left;
	width:400px;
	overflow:visible;
	position: relative;
	height:120px;
	background:inherit;
	margin-top:50px;
}
.circle {
	display: inline-block;
	background: url(../img/circle.png);
	width:92px;
	height: 92px;
	z-index: 3;
	position: absolute;
	top:13px;
	left:12px;
	transform:rotate(-360deg);
	animation: rotated 30s linear infinite ;
	animation-delay: none;
}
@keyframes rotated {
	0%{
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
.text {
	display: inline-block;
	background: url(../img/logo2.png);
	position: absolute;
	width:100%;
	height: 120px;
	top:0;
	left:0;
}
.nav-bar {
	display:inline-block;
	text-align: center;
	position: relative;
	width: 65%;
	height: 50px;
	margin-top: 80px;
	margin-bottom: 80px;
}
.nav-bar ul {
	display: inline-block;
	border-bottom: solid 2px #0076C1;
	border-top: solid 2px #0076C1;
	}
.nav-bar li {
	text-transform: uppercase;
	height: 50px;
	display: inline-block;
	line-height: 50px;
	margin-left: 15px;
	border-radius: 5px;
	font-size: 14px;
	letter-spacing: 0.5px;
}
.nav-bar li:last-child {
	margin-right:15px;
}
.nav-bar li:hover a{
	transition:0.3s;
	color: #00ACD0;
	border-radius: 3px;
}
.nav-bar li:hover span {
	top: -15px;
	transition: all 0.5s ease;
	opacity:1;
}
.nav-bar a {
	text-decoration: none;
	color: #676767;
	font-weight: 600;
}
.nav-bar span {
	width:auto;
	height:2px;
	opacity:0;
	background:#00ACD0;
	border-radius: 1px;
	display: block;
	top: 0px;
	position: relative;
}
.content {
	width:100%;
}
	
.conteiner-about {
	margin: 0 auto;
	background: url(../img/336404469.jpg);
}
	
.about {
	width:90%;
	max-width: 1280px;
	margin: 0 auto;
	display: block;
	color: #fff;
	padding:20px;
}
.name {
	width:100%;
	margin-bottom: 30px;
	display: inline-block;
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
}
.stick {
	width:20%;
	background: #fff;
	height:3px;
	border-radius: 1px;
	margin: 0 auto;
}
.stick-short {
	width:10%;
	background: #fff;
	height:2px;
	border-radius: 50%;
	margin: 0 auto;
}
.summary {
	text-align: center;
	margin-top: 40px;
	line-height: 25px;
	font-size: 18px;
}
.wishes {
	font-style: italic;
	font-size: 42px;
	color: #00FFFB;
	text-shadow: 3px 3px 10px #000;
}
.advantages {
	width: 100%;
	background: #F0FCFF;
}
.conteiner-advantages {
	width:90%;
	max-width: 1280px;
	background: #F0FCFF;
	margin: 0 auto;
	padding: 80px 0 40px 0;
}
.stick-black {
	width:20%;
	background: #1c1c1c;
	height:3px;
	border-radius: 1px;
	margin: 0 auto;
}
.stick-short-black {
	width:10%;
	background: #1c1c1c;
	height:2px;
	border-radius: 50%;
	margin: 0 auto;
}
.blocks-up {
	display: inline-block;
	width:100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px
}
.block-advantages {
	width:17%;
	display: inline-block;
	margin-left: 10px;
	background: #fff;
	overflow: hidden;
	box-shadow: 5px 9px 3px 3px #1c1c1c;
	border-radius: 0 0 5px 5px;
}
.advantages-problem {
	width:100%;
	height:183px;
	background: url(../img/problem.jpg) center no-repeat;
	display: inline-block;
	overflow: hidden;
}
.advantages-plant {
	width:100%;
	height:183px;
	background: url(../img/plant.jpg) center no-repeat;
	display: inline-block;
	overflow: hidden;
}
.advantages-producing {
	width:100%;
	height:183px;
	background: url(../img/producing.jpg) center no-repeat;
	display: inline-block;
	overflow: hidden;
}
.advantages-prices {
	width:100%;
	height:183px;
	background: url(../img/prices.jpg) center no-repeat;
	display: inline-block;
	overflow: hidden;
}
.advantages-help {
	width:100%;
	height:183px;
	background: url(../img/help.jpg) center no-repeat;
	display: inline-block;
	overflow: hidden;
}
.block-advantages i {
	width: 40px;
	height:40px;
	display: inline-block;
	font-size: 20px;
	border:solid 2px #209612;
	line-height: 40px;
	color:#209612;
	border-radius: 50%;
	margin-top: 20px;
}
.block-advantages:hover i {
	transition: all 2s ease;
	transform: rotateY(360deg);
}
.block-advantages h1 {
	width: 50%;
	padding: 0 10px;
	margin-top: 20px;
	font-size: 16px;
	font-style: italic;
	display: inline-block;
	color:#1c1c1c;
	text-align: justify;
}
.block-advantages p {
	margin: 30px 10px;
	font-size: 12px;
}
.feedback {
	width:100%;
	background: url(../img/goodwp.com_21201.jpg) no-repeat scroll center;		
}
.feedback-cover {
	width:100%;
	background: #000;
	opacity: 0.7;
}
.feedback-container {
	width:90%;
	max-width: 1280px;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.feedback-block {
	display: inline-block;
	width:20%;
	background: #fff;
	text-align: center;
	margin: 80px 10px;
	border-radius: 3px;
	box-shadow: 3px 3px 3px 3px #1c1c1c;
}
.feedback-name {
	width:100%;
	margin: 50px auto 40px auto;
	color:#fff;
	display: inline-block;
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
}
.person {
	margin: 20px;
	display: block;
	border-radius: 50%;
}
.feedback h1 {
	display: block;
	width:100%;
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-style: italic;
}
.feedback p {
	font-size: 12px;
	margin: 0 10px;
	color:#1c1c1c;
}
.contacts {
	width:100%;
	background: #458CC0;
	color:#FFF;
	border-top: solid 5px #32A431;
}
.contacts-container {
	width:90%;
	max-width: 1280px;
	display: block;
	margin: 0 auto;
}
.info {
	display: inline-block;
	width:25%;
	margin: 50px;
	
}
.info h2 {
	font-size: 18px;
	margin-bottom: 20px;
	text-align: left;
}
.info p {
	color:#ccc;
	font-size: 12px;
	margin-bottom: 20px;
}
.info span {
	font-size: 14px;
	color:#fff;
}
.phones {
	display: inline-block;
	width:20%;
	height: 100%;
	text-align: left;
	margin:50px;
	font-size: 15px;
	line-height: 35px;
}
.email {
	display:inline-block;
	width: 15%;
	color:#ccc;
	font-size: 14px;
}
.socialnet {
	width: 20%;

display: inline-block;
}
.socialnet a {
	display:block;
	width:60px;
	height: 60px;
	border-radius: 6px;
	background: #ccc;
	opacity:0.7;
	transition: all 0.5s ease;
	text-decoration: none;
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
}
.socialnet i {
	font-size: 32px;
	line-height: 60px;
	transition: all 1s ease;
}
.socialnet:hover a {
	opacity: 1;
}
.socialnet:hover i {
	color:#458CC0;
}
.map {
	width: 100%;
	background: #ccf;
}
.map-dir {
	width: 90%;
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}
.waymap {
	display: block;
	width:150px;
	height: 30px;
	position: absolute;
	background: #fff;
	border: solid 1px #ccc;
	vertical-align: middle;
	line-height: 30px;
	left:40%;
	z-index: 9999;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	
}
.copyright {
	width:100%;
	background: #000;
	height:60px;
	color:#5B5B5B;
	font-size: 12px;
	vertical-align: middle;
	text-align: center;
}
.copyright-container {
	width:90%;
	max-width: 1280px;
	margin: 0 auto;
}
.copyright-container span {
	display: inline-block;
	width:40%;
	line-height: 60px;
	float: left;
	text-transform: uppercase;
}
.madeby {
	display: inline-block;
	width:20%;
	line-height: 60px;
	border-left: dotted 1px #787878;
	padding-left: 100px;
}
.madeby a {
	color:#686868;
}
.social-dev {
	display: inline-block;
}
.social-dev a {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	background: #282828;
	text-decoration: none;
	vertical-align: middle;
}
.social-dev i {
	font-size: 18px;
	color:#000000;
	line-height: 30px;
}
.social-dev a:hover {
	background: #1C2E5F;
	transition: all 0.5s ease;
}