@import url("css/font-awesome.css");

:root {
	--main-color: #676767;
	--grey-color: #999a9a;
	--blue-color: #458CC0;
	--green-color: #209612;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	max-width: 100%;
	font-family: SF UI Display, Open-sans, sans-serif;
	background-color: #fff;
}
body::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}
body::-webkit-scrollbar-track {
	width: 6px;
	background-color: rgba(255, 255, 255, 1);
}
body::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3);
	transition: all 0.5s linear;
}
body::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.7);
}
h1, h2,h3,h4,h5,h6 {
	font-family: SF UI Display, Open-sans, sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
	font-weight: 600;
}
#top {
	width: 0;
	height: 0;
	visibility: none;
}



/*=========== TOP BUTTON ===========*/

.topbtn {
	display: none;
	position:fixed;
	right:40px;
	bottom:40px;
	text-align: center;
	height: 50px;
	width: 50px;
}
.topbtn a {
	color:#fff;
	font-size: 0.75em;
	letter-spacing: 0.56px;
	text-decoration: none;
	display: block;
	border-radius: 5px;
	background: #1c1c1c;
	opacity:0.5;
	text-align: center;
	transition:opacity 1s ease;
	display: block;
	width: 100%;
	height: 100%;
}
.topbtn a:hover {
	opacity: 0.9;	
}
.topbtn i {
	font-size: 2.5em;
	line-height: 30px;
	color:#fff;
}

/*=========== END TOP BUTTON ===========*/



/*=========== TOP BAR ===========*/

.top-bar-phone {
	display:flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	}
.top-bar-phone a.phone {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: 12px;
	color: #fff;
	letter-spacing:0.5px;
	text-decoration: none;
}
.top-bar-phone a.phone:hover {
	color: #fff;
}
.language {
	display: inline-block;
	position: absolute;
	top: 60px;
	right: 10px;
	text-transform: uppercase;
}
.language span{
	display: inline-block;
	width:25px;
	height:25px;
	border-radius: 50%;
	margin-top: 6px;
	transition: all 0.5s ease;
	overflow:hidden;
}
.language a {
	display: block;
	width: 90%;
	height: 90%;
	border-radius: 50%;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	color:var(--main-color);
	font-size: 12px;
	line-height: 27px;
	transition: all 0.5s ease;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.language a:hover {
	border: 1px solid var(--blue-color);
	color:#fff;
}
.language a.rus:hover {
	background-image: url(../img/icons/RF.png);
}
.language a.bel:hover {
	background-image: url(../img/icons/RB.png);
}
.language a.uk:hover {
	background-image: url(../img/icons/UK.png);
}
/*=========== END TOP BAR ===========*/


/*=========== LOGO ===========*/

.nav-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width:90%;
	max-width: 1280px;
	background: #fff;
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
	height:auto;
	padding: 30px 0;
}
.rotation-container {
	display:inline-block;
	float:left;
	width:400px;
	overflow:hidden;
	position: relative;
	height:120px;
	background:inherit;
}
.circle {
	display: inline-block;
	background-image: url(../img/circle.png);
	background-size:100%;
	background-repeat: no-repeat;
	width:90px;
	height: 90px;
	z-index: 3;
	position: absolute;
	top:15px;
	left:15px;
	transform:rotate(-360deg);
	animation: rotated 30s linear infinite ;
	animation-delay: none;
}
@keyframes rotated {
	0%{
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.text {
	display: inline-block;
	background-image: url(../img/logo2.png);
	background-size:100%;
	position: absolute;
	width:100%;
	height: 100%;
	top:0;
	left:0;
	background-repeat: no-repeat;
}

/*=========== END LOGO ===========*/


/*=========== NAVIGATION ===========*/

.container {
	width: 90%;
	max-width: 1280px;
	margin: 0 auto;
	height: 100%;
}
.nav-bar {
	position: relative;
	height: 50px;
	background-color: var(--blue-color);
	width: 100%;
}
.nav-bar  .container {	
	display:flex;
	text-align: center;
	justify-content: space-between;
}
.first-nav-bar {
	display: inline-flex;
	align-items: flex-start;
	justify-content: flex-start;
} 
.nav-bar li {
	text-transform: uppercase;
	height: 50px;
	display: inline-block;
	line-height: 50px;
	margin-right: 50px;
	font-size: 0.9em;
	letter-spacing: 0.5px;
}
.nav-bar li:last-child {
	margin-right:25px;
}
.nav-bar li:hover p{	
	color: #00ACD0;
	border-radius: 3px;
}
.nav-bar li:hover span {
	top: -15px;
	opacity:1;
}
.nav-bar p {
	text-decoration: none;
	color: var(--main-color);
	font-weight: 600;
	transition: color 0.5s linear;
	cursor: pointer;
}
.nav-bar span {
	width:auto;
	height:2px;
	opacity:0;
	background:#00ACD0;
	border-radius: 1px;
	display: block;
	top: 0px;
	position: relative;
	transition: all 0.3s linear;
}

/*=========== END NAVIGATION ===========*/





/*=========== DROP NAVIGATION ===========*/

.drop_menu {
    display: none;
    padding: 0;
    list-style: none;
    position: absolute;
    top:10px;
    left: 10px;
}
.drop_menu:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
.strings {
	display: inline-block;
}
.drop_menu > li {
    float: left;
    position: relative;
}
.drop_menu > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
}
.submenu {
    display: none;
    position: absolute;
    width: 200px;
    top: 37px;
    left: 5px;
    z-index: 9;
    background: #fff;
}
ul.submenu > li {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
}
ul.submenu > li:hover {
	color:#0076C1;
}
ul.submenu > li > a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color:var(--main-color);
    text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bold;
}
ul.drop_menu > li:hover > ul.submenu {
    display: block;
}
.drop_menu li a span {
	display: block;
	width:20px;
	height: 3px;
	background: var(--main-color);
	margin-top: 3px;
}
/*=========== END DROP NAVIGATION ===========*/

/*=========== BANNER NAVIGATION ===========*/
.mainBanner {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/alps-gd1341f0c3_1920.jpg);
	height: 450px;
	padding: 90px 0;
}
h1 {
	font-size: 2.5em;
	color: #fff;
	margin-bottom: 50px;
	font-weight: 700;
}
.mainBanner p {
	font-size: 1.4em;
	max-width: 800px;
	line-height: 1.8;
	font-weight: 700;
	color: #fff;
}
/*=========== END BANNER NAVIGATION ===========*/

/*=========== ABOUT COMPANY ===========*/
.aboutCompany {
	width: 100%;
	padding: 60px 0;
}
.aboutCompany .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.imageWrap {
	width: 50%;
	max-width: 450px;
	height: 450px;
}
.imageWrap img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.textWrap {
	width: 50%;
	max-width: 650px;
	padding: 60px;
	position: relative;
}
.textWrap:before {
	content: '';
	display: block;
	width: 25%;
	height: 3px;
	background-color: var(--green-color);
	position: absolute;
	top: 0;
	left: 0;
}
.textWrap:after {
	content: '';
	display: block;
	width: 25%;
	height: 3px;
	background-color: var(--green-color);
	position: absolute;
	bottom: 0;
	right: 0;
}
.textWrap p {
	font-size: 1.2em;
	line-height: 1.6;
}
h2 {
	font-size: 2.2em;
	margin-bottom: 40px;
	font-weight: 600;
}

/*=========== END ABOUT COMPANY ===========*/



/*=========== CLIENTS ===========*/
.clientInfo {
	width: 100%;
	padding: 0 0 90px 0;
}
.clientInfo p {
	margin-bottom: 30px;
}
.images-gallery {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 250px;
}
.images-gallery img {
	display: block;
	width: auto;
	height: 100%;
	margin: 0 auto;
}
/*=========== END CLIENTS ===========*/


/*=========== CONTACTS ===========*/

.footer {
	background: #458CC0;
	overflow: hidden;
}
.contacts {
	width:100%;
	background: #458CC0;
	color:#FFF;
	border-top: solid 5px #32A431;
}
.contacts-container {
	width:90%;
	max-width: 1280px;
	display:flex;
	margin: 0 auto;
	justify-content: space-between;
	align-items: flex-start;
}
.info {
	display: inline-block;
	width:25%;
	min-width: 200px;
	margin: 50px auto;
	
}
.info h2 {
	display: block;
	font-size: 1.1em;
	margin-bottom: 20px;
	text-align: left;
}
.info p {
	display: block;
	color:#ccc;
	font-size: 0.75em;
	margin-bottom: 20px;
}
.info span {
	display: block;
	font-size: 0.9em;
	color:#fff;
}
.phones {
	display: inline-block;
	width:20%;
	min-width: 200px;
	text-align: left;
	margin:50px auto;
	font-size: 1em;
	line-height: 33px;
}
.phones a {
	color:#fff;
	font-size: 1em;
	line-height: 33px;
	display: block;
	text-decoration:none;
}
.email {
	display:inline-block;
	width: 15%;
	min-width: 100px;
	color:#ccc;
	font-size: 0.9em;
	margin: 50px auto;
}
.email a {
	color:#ccc;
	font-size: 1em;
	text-decoration:none;
}
.socialnet, .sitelink {
	width: 10%;
	min-width: 100px;
	display: inline-block;
	margin: 50px auto;
}
.socialnet a {
	display:block;
	width:60px;
	height: 60px;
	border-radius: 6px;
	background: #ccc;
	opacity:0.7;
	transition: all 0.5s ease;
	text-decoration: none;
	color: #fff;
	text-align: center;
}
.socialnet i {
	font-size: 32px;
	line-height: 60px;
	transition: all 1s ease;
}
.socialnet:hover a {
	opacity: 1;
}
.socialnet:hover i {
	color:#458CC0;
}
.sitelink a {
	font-size: 1em;
	color: #fff;
	text-decoration:none;
}
.map {
	width: 100%;
	background: #F2FAFF;
}
.map-dir {
	width: 90%;
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}
.waymap {
	display: block;
	width:150px;
	height: 30px;
	position: absolute;
	background: #fff;
	border: solid 1px #ccc;
	vertical-align: middle;
	line-height: 30px;
	left:40%;
	z-index: 9999;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	
}

/*=========== END CONTACTS ===========*/



/*=========== COPYRIGHT ===========*/
.copyright {
	display: flex;
	width:100%;
	background: #000;
	height:50px;
	color:#5B5B5B;
	font-size: 0.7em;
	vertical-align: middle;
	overflow: hidden;
	align-items: center;
}

.copyright-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.copyright-container span {
	text-transform: uppercase;
	margin-right: 50px;
}

.copyright-madeby {
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: dotted 1px #787878;
	height: 50px;
}
.madeby {
	margin-left: 50px;
}
.madeby a {
	text-decoration: none;
	color:#686868;
}
.social-dev a {
	display: block;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	border-radius: 3px;
	background: #282828;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}
.social-dev i {
	font-size: 18px;
	color:#000000;
	line-height: 30px;
}
.social-dev a:hover {
	background: #1C2E5F;
	transition: all 0.5s ease;
}

/*=========== END COPYRIGHT ===========*/




/*======================== CATALOG =======================*/

/*=========== NAVIGATION BAR ===========*/
.product-nav {	
	width:100%;
	max-height: 80px;
	background: #b3dced; /* Old browsers */
	background: -moz-linear-gradient(top, #b3dced 0%, #0076c1 35%, #0076c1 73%, #bce0ee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #b3dced 0%,#0076c1 35%,#0076c1 73%,#bce0ee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #b3dced 0%,#0076c1 35%,#0076c1 73%,#bce0ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
}
.product-nav-one {
	display: inline-block;
	height:40px;
}
.product-nav-two {
	display: inline-block;
	height:40px;
}
.product-nav li {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	transition: all 1s ease;
	padding: 0 10px;
	font-size:1em;
}
.product-nav li:hover a {
	color: #00E50F;
}
.product-nav a {
	text-decoration: none;
	color:#fff;
	font-weight: bold;
	height:100%;
	display: block;
	transition: all 1s ease;
}
.nav_position {
	width:90%;
	max-width:1280px;
	min-width:320px;
	margin:0 auto;
}
/*=========== END NAVIGATION BAR ===========*/


/*=========== NAVIGATION BAR PRODUCTS ===========*/

.product_drop_menu {
	display: none;
	min-height: 40px;
	padding: 0;
    list-style: none;
    position: relative;
    width:100%;
	max-height: 80px;
	top:-5px;
	left: 0;
}
.product_drop_menu:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
.strings {
	display: inline-block;
}
.product_drop_menu p {
	display: inline-block;
	text-transform: uppercase;
}
.product_drop_menu > li {
    float: left;
    position: relative;
}
.product_drop_menu > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
}
.product_drop_menu .submenu {
    display: none;
    position: absolute;
    width: 200px;
    top: 43px;
    left: 20px;
    z-index: 9;
    background: #fff;
}
.product_drop_menu .submenu > li {
    display: block;
    padding: 2px 5px;
    border-bottom: 1px solid #ccc;
}
.product_drop_menu > li:hover > ul.submenu {
    display: block;
}
.product_drop_menu > li:hover .strings span{
	background:#00E50F;
	transition: all 1s ease;
}
.product_drop_menu li a span {
	display: block;
	width:20px;
	height: 3px;
	background: #fff;
	margin-top: 3px;
}

/*=========== END NAVIGATION BAR PRODUCTS ===========*/




/*=========== CATALOG CONTENT ===========*/

.products {
	width:100%;
	background: #fff;
	padding-bottom: 60px;
}
.products-name {
	width: 80%;
	display: block;
	margin-left:5%;
	padding-top: 60px;
	padding-bottom:60px;
	font-size: 2.5em;
	letter-spacing: 1px;
	color: #0076C1;
	text-shadow: 2px 0px 1px #39395C;
}
.products-container {
	width:90%;
	max-width: 1280px;
	background: #fff;
	margin:0 auto;
}
.slider_wrap {
	width:100%;
}
.slider_card {
	border:1px solid #eee;
	padding:50px 30px;
	text-align:center;
	max-width: 30%;
}
.slider_card img {
	width: 100%;
}
.slider_card p.title {
	font-size: 1.1em;
	font-weight: 600;
	margin: 20px 0;
	text-align:left;
}
.slider_card p.description {
	font-size: 1em;
	text-align: left;
	line-height: 1.4;
}
ul.tabs-products {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	list-style: none;
}
ul.tabs-products>li {
	padding:10px 20px;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
	border-top:1px solid #f5f5f5;
	border-left:1px solid #f5f5f5;
	border-right:1px solid #f5f5f5;
	position: relative;
	z-index: 1;
	background-color: #fff;
	border-radius: 5px 5px 0 0;
	transition: all 0.2s linear;
}
ul.tabs-products>li.active {
	border-top:1px solid #aaa;
	border-left:1px solid #aaa;
	border-right:1px solid #aaa;
	color: #32A431;
	z-index: 2;
}
.dodoenia {
	width:90%;
	margin: 0 auto;
	padding: 20px 0;
}
.posledoenia {
	width:90%;
	margin: 0 auto;
	padding: 20px 0;
}
.dodoenia-container {
	width: 100%;
	position: relative;
	display: none;
	padding: 10px 0px;
	margin-top: -1px;
	z-index: 1;
	transition: all 0.5s linear;
	opacity: 0;
	padding-top: 40px;
}
.dodoenia-container.active {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	border-top:1px solid #aaa;
	opacity: 1;
}
.dodoenia-container h2 {
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 1.7em;
	color:#39395C;
	text-shadow: 1px 1px 3px #ccc;
}
.img_hid {
	display:none;
	cursor:pointer;
	font-size:0.5em;
	color: blue;
	text-decoration:none;
}
.dodoenia-img {
	width: 250px;
	display: inline-block;
	margin:10px;
	position: relative;
}
.dodoenia-img:hover {
	filter: brightness(90%);
}
.dodoenia-content {
	display: inline-block;
	width:calc(100% - 280px);
	position: relative;
}
.tabcss {
	display: block;
	position:relative;
	margin: 10px;
	width:100%;
}
.tabcss p {
	color: #4B4B4B;
	padding: 10px;
	font-size: 0.9em;
	line-height: 16px;
}
.tabcss h5 {
	font-size: 1em;
	color:#6F6F6F;
}
.tabcss input {
position:absolute;
left:-9999px;
opacity:0;
}
.tabcss input+label {
float:left;
text-align:left;
line-height:10px;
width:100%;
}
.tabcss input+label .title1 {
cursor:pointer;
z-index:99;
width:100%;
height:40px;
line-height:40px;
text-align:left;
color:#ccc;
font-weight:bold;
font-size:1em;
letter-spacing:1px;
padding:0 10px;
}
.tabcss input:checked+label .title1 {
color:#00ACD0;
text-align: left;
}
.tabcss input:checked+label .title2 {
color:#00ACD0;
}
.tabcss input+label .tab-cont {
	position:relative;
	width:100%;
	text-align:left;
}
.download-instr {
	display: block;
}
 		/*======= scroll bar style =======*/
.tabcss input+label .tab-cont::-webkit-scrollbar {
    width:6px;
}
.tabcss input+label .tab-cont::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #ccc;
}
.tabcss input+label .tab-cont::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #aaa;
}
.tabcss input+label .tab-cont::-webkit-scrollbar-track{
    border-width:0;
}
.tabcss input+label .tab-cont::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}
		/*======= end scroll bar style =======*/

.tabcss input:checked+label .tab-cont {
visibility:visible;
opacity:1;
}
.tabcss * {
background:#fff;
line-height:15px;
transition:all 0.5s ease;
}

.download-instr a {
	text-decoration: none;
	color:#7470CC;
	font-size: 14px;
}
.tab-cont img:hover {
	filter: brightness(80%);
}
/*=== FIRST PRODUCT DIVISION NAME===*/
.dodoenia h4 {
	width:100%;
	color:#646464;
	border-top:solid 3px #00ACD0;
	line-height: 60px;
	font-size:1.1em;
}
/*=== SECOND PRODUCT DIVISION NAME===*/
.posledoenia h4{
	width:100%;
	color:#646464;
	border-top:solid 3px #00ACD0;
	line-height: 60px;
}

/*=========== END CATALOG CONTENT ===========*/




/*======================== CERTIFICATES =============================*/
/*=========== NAVIGATION BAR CERTIFICATES ===========*/
#cert-nav {
	width:90%;
	max-width:1280px;
	min-width:320px;
	margin:0 auto;
}

/*=========== END NAVIGATION BAR CERTIFICATES ===========*/



/*=========== CONTENT CERTIFICATES ===========*/

.certif-container {
	display:block;
	width:100%;
	background-color: #f8f8f8;
	padding-bottom: 60px;
}
.certif-block {
	width:90%;
	max-width:1280px;
	min-width:320px;
	background-color: #f8f8f8;
	margin: 0 auto;
}
.iso {
	display:block;
	margin:0 auto;
	align-items:center;
	text-align:center;
}
.iso span {
	display:block;
	width:100%;
	font-size:1.5em;
	font-weight:bold;
	text-shadow:1px 1px 1px #ccc;
	padding:60px 0 40px 10px;
	color: #0076C1;
}
.iso>a>img {
	display:block;
	margin:0 auto;
	width:250px;
	transition: all 0.3s ease;
	box-shadow: 0 0 10px #ccc;
}

.iso>a>img:hover {
	box-shadow: 0 0 20px #1c1c1c;
}

.iso p{
	color:#666;
	margin-top: 20px;
	padding-bottom: 60px;
}

.iso p {
	color:#666;
	font-size:1.1em;
	text-transform: uppercase;
	font-weight:bold;
}

.sgr {
	display:block;
	margin:0 auto;
	align-items:center;
	text-align:center;
}
.sgr-block {
	display:inline-block;
	width:250px;
	margin-right:10px;
}
.sgr span {
	display:block;
	width:100%;
	font-size:1.5em;
	font-weight:bold;
	text-shadow:1px 1px 1px #ccc;
	margin:60px 0 40px 10px;
	color: #0076C1;
}
.sgr img {
	display:block;
	height:350px;
	transition: all 0.3s ease;
}
.sgr-block>a>img {
	box-shadow: 0 0 10px #ccc;
}
.sgr-block>a>img:hover {
	box-shadow: 0 0 20px #1c1c1c;
}
.sgr p {
	text-decoration:none;
	color:#666;
	font-size:1.1em;
	text-transform: uppercase;
	margin:10px 0px 30px 0;
	font-weight:bold;
}
.sgr p a {
	color:#666;
	font-size:1.1em;
	text-transform: uppercase;
	margin:10px 0px 30px 0;
	font-weight:bold;
	text-decoration: none;
}
.iso p a img {
	width: 15px;
	height: 15px;
	display: inline-block;
}
.sgr p a img {
	width: 15px;
	height: 15px;
	display: inline-block;
}

/*=========== END CONTENT CERTIFICATES ===========*/

.popup-bcg {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
}



/*=========== BIG SCREEN ===========*/
@media screen and (max-width:1243px){
	.nav-logo {
		flex-direction: column;
		width:100%;
		margin:0;
		height: 350px;
	}
	
	.rotation-container {
		display: block;
		float: inherit;
		margin:50px auto 0 auto;
	}
	.nav-bar {
		width:100%;
	}
	.second-nav-bar {
		margin: 20 auto;
	}
	.products-container {
		width: 100%;
		height: auto;
	}
	.topbtn {
		z-index: 99;
	}
	
}


/*=========== MEDIUM SCREEN ===========*/
@media screen and (max-width:1115px){	
	.dodoenia-container {
		width:100%;
		margin-left: -40px;
		box-shadow: none;
	}
	
	.socialnet {
		display: none;
	}
}


/*=========== SMALL SCREEN ===========*/
@media screen and (max-width:991px) {
	.top-bar {
		justify-content: flex-start;
	}
	.top-bar-phone, .top-bar-mail {
		width: 145px;
	}
	.top-bar-skype {
		width: 130px;
	}
	.top-bar-time {
		width: 155px;
	}
}
@media screen and (max-width:747px){
	.top-bar {
		display: none;
	}
	.rotation-container {
		width:500px;
		height:150px;
	}
	.text {
		height: 150px;
	}
	.circle {
		width:120px;
		height:120px;
		top:15px;
		left:14px;
	}
	.nav-bar {
		margin-bottom: 60px;
	}
	.about {
		margin-top:30px;
		width:100%;
		padding:0;
	}
	.name {
		margin-top: 30px;
	}
	.summary {
		margin: 0 10px;
		padding-bottom: 30px;
	}
	.contacts-container {
		display: block;
	}
	.info {
		margin: 30px 10px 0px 10px;
	}
	.phones {
		display: block;
		margin:0px 0 0px 10px;
		line-height: 20px;
		font-size: 0.9em;
	}
	.email {
		display: block;
		margin:20px 0 30px 10px;
	}
	.dodoenia {
		width: 95%;
		margin-left: 2.5%;
	}
	.dodoenia-container {
		margin-left: 0;
	}
	.dodoenia-container h2 {
		margin-left: 0;
	}
	.dodoenia-img img {
		width: 100px;
	}
	.dodoenia-img {
		height: 250px;
	}
	.tabcss input+label .tab-cont {
		width: 400%;
	}
	.map-dir {
		width: 100%;
	}
	.socialnet, .sitelink {
		margin-top: 0;
		margin-left: 10px;
	}
}
@media screen and (max-width:605px) {
	.tabcss input+label .tab-cont {
		width: 350%;
	}
}
@media screen and (max-width:540px) {
	.product_drop_menu {
		display: block;
	}
	.product-nav-one {
	display: none;
	}
	.product-nav-two {
	display: none;
	}
	#cert-nav {
		display: none;
	}
	.iso span {
		width: 320px;
		margin:0 auto;
		font-size: 1.2em;
		padding-top: 30px;
	}
	.sgr span {
		width: 320px;
		margin:0 auto;
		font-size: 1.2em;
		padding: 30px 0 15px 0; 
	}
	.iso p a {
		font-size: 0.9em;
	}
	.sgr p a {
		font-size: 0.9em;
	}
	
}

/*=========== PHONES ===========*/
@media screen and (max-width:463px){
	
	.drop_menu {
		display: block;
	}
	.rotation-container {
		margin-bottom: 30px;
	}
	.nav-bar {
		display: none;
	}
	.name {
		font-size: 1.6em;
	}
	.summary {
		font-size: 0.8em;
		line-height: 15px;
	}
	.wishes {
		font-size: 1.9em;
	}
	.conteiner-advantages .name {
		font-size: 1.6em;
	}
	.ball-contaiber {
		margin-bottom:0px;
	}
	.dodoenia-content {
		height: 300px;
	}
	.dodoenia-container {
		text-indent:5px;
	}
	.img_hid {
		display:block;
	}
	.dodoenia-img {
		width:0;
		overflow:hidden;
	}
	.tabcss {
		width:70%;
	}
	
	.contacts-container {
		width: 100%;
		margin-left: 40px;
	}
	.info {
		margin: 30px 10px;
	}
	.phones {
		display: block;
		margin:0 0 30px 10px;
		line-height: 16px;
		font-size: 0.9em;
	}
	.email {
		display: block;
		margin:0 0 30px 10px;
	}
		
}
